<!DOCTYPE html>
<!--[if lte IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--
***************  *      *     *
      8          *    *       *
      8          *  *         *
      8          **           *
      8          *  *         *
      8          *    *       *
      8          *      *     *
      8          *        *   ***********    -----Theme By Kieran(http://go.kieran.top)
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<%- partial('casper/head') %>
<!--<% if (typeof page.title == 'undefined') { %>
<body class="home-template">
<% } else { %>
<body class="post-template">
<% } %>-->
<body id="index" class="lightnav animsition">

      <%- partial('casper/header') %>
      <div id="sb-site">
            <!-- #sb-site - All page content should be contained within this id, except the off-canvas navigation itself -->
    
            <!-- ============================ Header & Logo bar =========================== -->
    
            <div id="navigation" class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <!-- Nav logo -->
                        <div class="logo">
                            <a href="/" title="Logo" class="animsition-link">
                            <% if (theme.logo) { %> <img src="<%- theme.logo %>" alt="Logo" width="100px;"/> <% } %>
                            </a>
                        </div>
                        <!-- // Nav logo -->
                        <!-- Info-bar -->
                        <nav>
                            <ul class="nav">
                                <li class="nolink"><span><%- theme.content %></span></li>
                                <% if(theme.github){ %>
                                <li><a href="<%- theme.github %>" title="Github" target="_blank"><i class="icon-github"></i></a></li>
                                <% } %>
                                <% if(theme.twitter){ %>
                                <li><a href="<%- theme.twitter %>" title="Twitter" target="_blank"><i class="icon-twitter"></i></a></li>
                                <% } %>
                                <% if(theme.facebook){ %>
                                <li><a href="<%- theme.facebook %>" title="Facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                                <% } %>
                                <% if(theme.google){ %>
                                <li><a href="<%- theme.google %>" title="Google-Plus" target="_blank"><i class="icon-google-plus"></i></a></li>
                                <% } %>
                                <% if(theme.weibo){ %>
                                <li><a href="<%- theme.weibo %>" title="Sina-Weibo" target="_blank"><i class="icon-sina-weibo"></i></a></li>
                                <% } %>
                                <li><a href="https://www.velas.xyz/" class="animsition-link"><img src="https://talk-1252562537.cos.ap-hongkong.myqcloud.com/icons/home.png" height="9" style="padding-right:.5em" alt="home"/>Velas.xyz</a></li>
                            </ul>
                        </nav>
                        <!--// Info-bar -->
                    </div>
                    <!-- // .container -->
                    <div class="learnmore sb-toggle-right">更多</div>
                    <button type="button" class="navbar-toggle menu-icon sb-toggle-right" title="More">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar before"></span>
                    <span class="icon-bar main"></span>
                    <span class="icon-bar after"></span>
                    </button>
                </div>
                <!-- // .navbar-inner -->
            </div>
    
            <!-- ============================ Header & Logo bar =========================== -->
      <%- body %>
      </div>
      <%- partial('casper/footer') %>
      <%- partial('casper/after_all') %>

</body>
</html>
