<!-- ============================ Off-canvas navigation =========================== -->

    <div class="sb-slidebar sb-right sb-style-overlay sb-momentum-scrolling">
        <div class="sb-close" aria-label="Close Menu" aria-hidden="true">
            <img src="<%- config.root %>img/close.png" alt="Close"/>
        </div>
        <!-- Lists in Slidebars -->
        <ul class="sb-menu">
            <li><a href="<%- config.root %>" class="animsition-link" title="Home">主页</a></li>
            <li><a href="<%- config.root %><%- config.archive_dir %>" class="animsition-link" title="archive">文章列表</a></li>
            <!-- Dropdown Menu -->
			 <% if (theme.works && theme.works.length){ %>
            <li>
                <a class="sb-toggle-submenu">作品<span class="sb-caret"></span></a>
                <ul class="sb-submenu">
                    <% theme.works.forEach(function(item){ %>
                        <li><a href="<%- item.works_url %>" target="_BLANK" class="animsition-link"><%= item.works_name %></a></li>
                    <% }); %>
                </ul>
            </li>
            <% } %>
            <% if (site.categories.length){ %>
        	<li>
        		<a class="sb-toggle-submenu">目录<span class="sb-caret"></span></a>
            	<ul class="sb-submenu">
				  	<% site.categories.sort('name').each(function(item){ %>
				    <li><a href="<%- config.root %><%- item.path %>" class="animsition-link"><%= item.name %><small>(<%= item.posts.length %>)</small></a></li>
				    <% }); %>
				</ul>
        	</li>
			<% } %>
            <% if (theme.links && theme.links.length){ %>
            <li>
                <a class="sb-toggle-submenu">友情链接<span class="sb-caret"></span></a>
                <ul class="sb-submenu">
                    <% theme.links.forEach(function(item){ %>
                    <li><a href="<%- item.link %>" class="animsition-link"><%= item.name %></a></li>
                    <% }); %>
                </ul>
            </li>
            <% } %>
            <li><a href="<%- config.root %>about.html" class="animsition-link" title="about">关于我</a></li>
        </ul>
        <!-- Lists in Slidebars -->
         <ul class="sb-menu secondary">
            <li><a href="http://www.velas.xyz/" class="animsition-link" title="velas.xyz">回到Velas.xyz</a></li>
        </ul>
    </div>
    
    <!-- ============================ END Off-canvas navigation =========================== -->

    <!-- ============================ #sb-site Main Page Wrapper =========================== -->
    

